
<section class="sobre-nos" #sobrenosSection id="sobrenos">

    <div class="txt-sbr">
        <h1>Quem somos?</h1>
        <p>
            A KBW Soluções e Engenharia é uma empresa especializada em engenharia técnica, consultiva e regulatória, que atua com foco em segurança, 
            conformidade e eficiência operacional. Atendemos empresas e profissionais que buscam soluções práticas e confiáveis para atender às exigências
            legais e garantir a integridade de seus equipamentos, instalações e operações.
        <br> 
        <br>
            Oferecemos serviços como avaliação de mercado para equipamentos e veículos, planos de rigging, sistemas de exaustão para cozinhas, 
            perícias judiciais, responsabilidade técnica, e certificações conforme as normas NR12, NR13, PPCI, PMOC, entre outras.
        <br> 
        <br>
            Com experiência, agilidade e comprometimento, a KBW entrega soluções sob medida para proteger bens, pessoas e garantir 
            tranquilidade técnica e jurídica aos nossos clientes.
         </p>  
    </div>

    <div class="img-sbr">
        <img src="images/SobreNosImg.png" alt="">
    </div>

</section>

