
* { /*RESET*/
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

header {    
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;   
    position: fixed;
    width: 100%;
    top: 0; 
    left: 0;
    z-index: 1000;
    transition: all 0.6s ease;
}

/* Estilo ao dar scroll */
header.show {
    background-color: rgba(252, 252, 252, 0.774);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 0px 0%;
    border-radius: 0%;
}

header.show .app-menu-desktop {
    border-radius: 0%;
}

/*Estilo da Logo */
.logo-web img {
    width: 100px;
} 

/*Estilo geral dos elementos de texto*/
li, a, button { 
    font-size: 20px;
    color: rgb(0, 68, 85);
    text-decoration: none;
}

.app-menu-desktop{
    display: flex;
    justify-content: space-between; /*Espaço entre os elementos*/
    align-items: center; /*Vertical*/
    padding: 15px 4%; 
    background-color: rgb(255, 255, 255);
    /*box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;*/
    border-radius: 60px;
}

.nav-links {
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 25px;
}


/*Estilo do efeito*/
ul li a {
    border-bottom: 1px solid  rgb(84, 139, 153);
    padding: 8px 16px; /*Espaçamento interno*/
    position: relative; 
    transition: all 0.4s ease;
    
}

.nav-links li a:hover {
    background-color:rgba(0, 68, 85, 0.192);
}

ul li a::before, ul li a::after {  /*Bordas decorativas*/
    content: "";
    position: absolute;
    width: 12px; 
    height: 12px;
    border: 2px solid rgb(84, 139, 153);
    opacity: 0; /*Começa invisível*/
    transition: all 0.4s ease;
}

ul li a::before { /*Canto inferior esquerdo */
    bottom: 10px;
    left: 10px;
    border-width: 0 0 2px 2px;
}

ul li a::after { /*Canto superior direito*/
    top: 10px;
    right: 10px;
    border-width: 2px 2px 0 0;
}

/*-8PX idetnfica o movimento de ir para fox */
ul li a:hover::before {
    opacity: 1; /*Torna o quadrado visível*/
    bottom: -8px;
    left: -8px;
}

ul li a:hover::after {
    opacity: 1;
    top: -8px;
    right: -8px;
}
/*Fim do estilo do efeito*/

.logo-web img {
    width: 50px;
}

/*Estilo da button*/
button {
    padding: 10px 20px;
    background-color: #ffffff;
    border: 1px solid rgb(84, 139, 153);
    cursor: pointer;
    color: rgb(0, 68, 85);
    border-radius: 6px;
    transition: all 0.5s;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button:hover {

    background-color: rgb(4, 46, 56);
    color: white;
    transform: scale(1.05);
}
/*Fim do estilo da button*/

