<header class="app-header"  [ngClass]="{ 'show': isScrolled }">

    <section class="app-menu-desktop" [ngClass]="{ 'show': isScrolled }">

       <section class="logo-web">
            <img src="images/KBWLg.png" alt="Logo"> <!--Não precisa de '../' pois está em public -->
       </section>

        <nav>
            <ul class="nav-links"> <!--Lista não ordenada-->
                <li><a href="#home">Home</a></li>
                <li><a href="#sobrenos">Quem Somos</a></li>
                <li><a href="#works">Serviços</a></li>   
                <li><a href="#map">Áreas de Atuação</a></li>     
            </ul>            
        </nav>

        <a href="#contato"><button>Contato</button></a>   
    </section>
    

</header>