* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home-sect {
    font-family: "Ubuntu", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
}

.img-container {
    position: relative;
    margin: 0 30px;
    border-radius: 6px;
    overflow: hidden; /* garante que o border-radius funcione */
}

.img-container img {
    width: 100%;
    height: 90%;
    display: block;
    border-radius: 6px;
}

.txt-principal {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 18%;
    padding: 30px;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

.txt-principal h1 {
    margin: 0 0 10px 0;
    font-size: 80px;
}

.txt-principal p {
    font-size: 28px;
}

.txt-principal button {
    margin: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #024b99;
    color: white;
    border-radius: 4px;
    cursor: pointer;

    font-size: 16px;
    
    transition: all 0.5s;
}

.txt-principal button:hover {
    background-color:rgb(4, 46, 56);
    transform: scale(1.05);
}