
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 @keyframes slideIn {
    0% {transform: translateX(-50%);}
    100% {transform: translateX(0%);}
    
 }

  @keyframes slideReverse {
    0% {transform: translateX(50%);}
    100% {transform: translateX(0%);}
 }